{% extends 'base.html.twig' %}

{% block title %}{{ titleHeader }}{% endblock %}

{% block load_data %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#<script id="delta-data" type="application/json">{{ delta_data|json_encode(65)|raw }}</script>#}
{% endblock load_data %}

{% block page %}
    <div id="deltaTable"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/delta.js', 'webpack') }}"></script>
{% endblock %}