{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/modules.js') }}"></script>
{% endblock %}

    {% block title %}{{ titleHeader }}{% endblock %}

{% block page %}
    <h2>{{ pageName }}</h2>
    {% block moduleButtonTop %}
        {% include 'modules/button.html.twig' %}
    {% endblock %}
    {% block moduleList %}
        <div id="modulelist">
            <div id="modulelist-header">
                <span class="modulename">Module</span>
                <span class="moduleversion">Version</span>
                <span class="modulepublisher">Publisher</span>
                <span class="modulestatus">Status</span>
                <span class="clear">&nbsp;</span>
            </div>
            {% if listModules|length > 0 %}
                {% for key,categoryModules in listModules %}
                    {% set category = key |replace({' ': '_'}) |lower %}
                    {% if categoryModules|length > 0 %}
                        <div class="category" id="category_{{ category }}"><h3>{{ key }}</h3>
                            <ul>
                                {% for module in categoryModules %}
                                    {% set name = module.name |replace({' ': '_'}) |lower %}
                                    <li id="module_{{ name }}">
                                        <div class="moduleheader" pane="infopane_{{ name }}">
                                            <span class="modulename"><a href="javascript:void(null);">{{ module.name }}</a></span>
                                            <span class="moduleversion">{{ module.version }}</span>
                                            <span class="modulepublisher">{{ module.publisher }}</span>
                                            <span class="modulestatus">{{ module.status }}</span>
                                            <span class="clear">&nbsp;</span>
                                        </div>
                                        <div class="moduleinfopane" id="infopane_{{ name }}">
                                            <div class="tabber">
                                                <div class="tabbertab actiontab " title="Action">
                                                    <input type="radio" checked="CHECKED" id="noaction_{{ name }}" name="moduleaction[{{ name }}]" value="0"> <label for="noaction_{{ name }}">No Action</label> <br>
                                                    <input type="radio" id="disable_{{ name }}" name="moduleaction[{{ name }}]" value="disable"> <label for="disable_users">Disable</label> <br>
                                                    <input type="radio" id="uninstall_{{ name }}" name="moduleaction[{{ name }}]" value="uninstall"> <label for="uninstall_users">Uninstall</label> <br>
                                                </div>
                                                <div class="tabbertab tabbertabhide" title="Description">
                                                    <h5>Publisher: {{ module.publisher }}</h5>
                                                    <h5>License: {{ module.license }}</h5>
                                                    <h5>Description for version {{ module.version }}</h5>
                                                    {{ module.description }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}
    {% block moduleButtonBottom %}
        {% include 'modules/button.html.twig' %}
    {% endblock %}
{% endblock %}
